#thin-navbar-wrapper {
  position: absolute;
  display: grid;
  width: 100vw;
  height: 100vh;
  height: var(--nav-bar-height);
  top: 0;
  z-index: 5;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 5px;
  color: white;
}

#thin-navbar-wrapper #expand-menu {
  align-items: flex-start;
  gap: 10px;
  padding-left: 10px;
}

#thin-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}

#thin-navbar li {
  list-style: none;
  position: relative;
}

#attribution {
  grid-area: attribution;
}

@media screen and (max-width: 767px) {
  #thin-navbar {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  #thin-navbar-wrapper {
    grid-template-columns: 0.5fr 1fr 1fr;
  }
}
