#thin-navbar-wrapper {
  position: absolute;
  display: grid;
  width: 100vw;
  height: var(--nav-bar-height-thin);
  top: 0;
  z-index: 5;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 5px;
  color: white;
}

#independence-header {
  justify-self: center;
  font-size: 2.2rem;
  font-weight: 400;
  font-family: Times, Georgia, serif;
  color: white;
  text-decoration: none;
}

#thin-navbar-wrapper #expand-menu {
  align-items: flex-start;
  gap: 20px;
}

#thin-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#thin-navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}
