:root {
  --independence-max-width: 1440px;
  --art-color: 142, 202, 230;
  --diaspora-color: 33, 158, 188;
  --politics-color: 2, 48, 71;
  --science-color: 45, 106, 79;
  --sports-color: 27, 67, 50;
}

.art {
  color: rgb(var(--art-color));
}

.diaspora {
  color: rgb(var(--diaspora-color));
}

.politics {
  color: rgb(var(--politics-color));
}

.science {
  color: rgb(var(--science-color));
}

.sports {
  color: rgb(var(--sports-color));
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.page-wrapper {
  display: grid;
  justify-content: center;
  width: 100vw;
  max-width: 1440px;
  margin: 0 auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
