:root {
  --independence-max-width: 1440px;
  --art-color: rgba(142, 202, 230, 1.0);
  --diaspora-color: rgba(33, 158, 188, 1.0);
  --politics-color: rgba(2, 48, 71, 1.0);
  --science-color: rgba(45, 106, 79, 1.0);
  --sports-color: rgba(27, 67, 50, 1.0);
}

.art {
  color: var(--art-color);
}

.diaspora {
  color: var(--diaspora-color);
}

.politics {
  color: var(--politics-color);
}

.science {
  color: var(--science-color);
}

.sports {
  color: var(--sports-color);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}