:root {
  --art: #8ecae6;
  --diaspora: #219ebc;
  --politics: #023047;
  --science: #2d6a4f;
  --sports: #1b4332;
  --nav-bar-height: 130px;
  --nav-bar-height-thin: 80px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  line-height: 1.4;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
