:root {
  --art: #8ecae6;
  --diaspora: #219ebc;
  --politics: #023047;
  --science: #2d6a4f;
  --sports: #1b4332;
  --nav-bar-height: 130px;
  --nav-bar-height-thin: 80px;
  --heading-1-size: 30px;
  --heading-1-size-value: 5.3;
  --heading-2-size: 26px;
  --heading-2-size-value: 3.4;
  --heading-3-size: 22px;
  --heading-3-size-value: 2.5;
  --heading-4-size: 18rem;
  --heading-4-size-value: 2;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  line-height: 1.4;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Times, Georgia, serif;
}

/* HEADER */
h1 {
  font-size: min(calc(var(--heading-1-size) + 1vw), 2.8rem);
}

h2 {
  font-size: min(calc(var(--heading-2-size) + 1vw), 2.5rem);
}

h3 {
  font-size: min(calc(var(--heading-3-size) + 0.3vw), 2.2rem);
}

h4 {
  font-size: min(calc(var(--heading-4-size) + 0.5vw), 1.9rem);
}

/* NAVBAR */
.underlinable {
  position: relative;
}

.underlinable::after {
  content: "";
  position: absolute;
  transform: scaleX(0);
  width: 100%;
  height: 1px;
  bottom: -4px;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-in-out;
}

.underlinable:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-link {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: white;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.nav-separator {
  color: white;
}
