:root {
  --art: #8ECAE6;
  --diaspora: #219EBC;
  --politics: #023047;
  --science: #2D6A4F;
  --sports: #1B4332;
  --nav-bar-height: 130px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  line-height: 1.4;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}